h1{
    font-size: 40px;
}

h2{
    font-size:32px;
}

#topicInput{
    width: 300px;
    height: 50px;

    /* 折り返し */
     white-space: pre-wrap;
    word-break: break-word;

     /* 左上から入力 */
    text-align: left;
    vertical-align: top;

    /* 見た目調整（任意） */
    padding: 8px;
    font-size: 16px;
    resize: none; 
}




.dashboard p{
  color: #706d7a;               
  font-size: 20px;           
  font-weight: 900;          
  padding: 12px;             
}


#logList li{
    background: #d6c3e6;
    width:80%;
    height:2rem;
    border-radius: 5px;
    margin-bottom: 20px;
    padding:10px 20px;
}

#logList li button{
    margin-left:auto;
}